/* your code */

	table {
      width: 100%;
      padding: 8px;
      border-collapse: collapse;
      border-radius: 15px;
      overflow: hidden;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border: none;
    }
    tr {
      border-radius: 25px;
    }
    thead {
      color: white;
      background-color: #215A8E;
      border: none;
    }
    caption {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    tr:nth-child(even) {
      background-color: #DDDDDD;
    }